# ========================================
# JAVA
# ========================================

# Archivos compilados
*.class

# Archivos de logs
*.log

# Paquetes compilados
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar


# ========================================
# NETBEANS
# ========================================

# Archivos generados al compilar
**/build/
**/dist/
**/target/

# Configuración privada de NetBeans
**/nbproject/private/
**/nbproject/private/**


# ========================================
# ARCHIVOS TEMPORALES DE JAVA
# ========================================

hs_err_pid*
replay_pid*


# ========================================
# SISTEMA OPERATIVO
# ========================================

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store


# ========================================
# EDITORES / IDE
# ========================================

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml